body {
    background: #fff;
}

/* HEADER */
.header {overflow:hidden; background: url('../img/sinfocheio.jpg') center no-repeat;;  background-color: transparent; 
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.header h1 { text-align: center; margin:1em 0 0 0; padding:0; font-size: 4em;}
.header h1 a, .header h1 a:link, .header h1 a:visited { color:#FFFFFF; text-decoration:none;}
.header h1 a:hover {text-decoration:none;}
.header img {width:250px; text-align: center; margin-top: 1em; }
.header .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.header .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 500px;}

.text-section {
  padding-top: 50px;
  padding-bottom: 25px;
}
/* IST */
.ist {overflow:hidden; background: url('../img/ist.jpg') center no-repeat;;  background-color: transparent; 
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.ist h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.ist h1 a, .ist h1 a:link, .ist h1 a:visited { color:#FFFFFF; text-decoration:none;}
.ist h1 a:hover {text-decoration:none;}
.ist .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.ist .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 500px;}

/* Speakers */
.speakers {overflow:hidden; background: url('../img/speakers.jpg') center no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.speakers h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.speakers h1 a, .speakers h1 a:link, .speakers h1 a:visited { color:#FFFFFF; text-decoration:none;}
.speakers h1 a:hover {text-decoration:none;}
.speakers .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.speakers .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 500px;}

/* workshops */
.workshops {overflow:hidden; background: url('../img/workshops.jpg') center no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.workshops h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.workshops h1 a, .workshops h1 a:link, .workshops h1 a:visited { color:#FFFFFF; text-decoration:none;}
.workshops h1 a:hover {text-decoration:none;}
.workshops .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.workshops .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 400px;}

/* sponsors */
.sponsors {overflow:hidden; background: url('../img/sponsors.jpg') center no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.sponsors h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.sponsors h1 a, .sponsors h1 a:link, .sponsors h1 a:visited { color:#FFFFFF; text-decoration:none;}
.sponsors h1 a:hover {text-decoration:none;}
.sponsors .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.sponsors .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 500px;}

/* meetus */
.meetus {overflow:hidden; background: url('../img/meetus.jpg') bottom no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.meetus h1 { text-align: center; margin:1.5em 0 0 0; padding:0; font-size: 4em;}
.meetus h1 a, .meetus h1 a:link, .meetus h1 a:visited { color:#FFFFFF; text-decoration:none;}
.meetus h1 a:hover {text-decoration:none;}
.meetus .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.meetus .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 400px;}

/* news */
.news {overflow:hidden; background: url('../img/news.jpg') bottom no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;}
.news h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.news h1 a, .news h1 a:link, .news h1 a:visited { color:#FFFFFF; text-decoration:none;}
.news h1 a:hover {text-decoration:none;}
.news .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.news .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 400px;}

/* news */
.orador {overflow:hidden; background: url('../img/orador.jpg') bottom no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 50%;background-repeat: no-repeat;
height: 400px;}
.orador h1 { text-align: center; margin:2em 0 0 0; padding:0; font-size: 4em;}
.orador h1 a, .orador h1 a:link, .orador h1 a:visited { color:#FFFFFF; text-decoration:none;}
.orador h1 a:hover {text-decoration:none;}
.orador .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;font-size: 40px;}
.orador .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0;height: 400px;}
#orador_img img {
  text-align: center; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.orador .opacidade h1{
  margin-top: 55px;
}

@media (max-width: 400px) {
  .header .description { width:90%; }
  .news .description { width:90%; }
  .speakers .description { width:90%; }
  .workshops .description { width:90%; }
  .sponsors .description { width:90%; }
  .meetus .description { width:90%; }
  .orador .description { width:90%; }

  .header h1 { font-size:2em; }
  .news h1 { font-size:2em; }
  .speakers h1 { font-size:2em; }
  .workshops h1 { font-size:2em; }
  .sponsors h1 { font-size:2em; }
  .meetus h1 { font-size:2em; }
  .orador h1 { font-size:2em; }
}

/*
.transparent-button {
  padding: 15px 15px 20px 20px;
background-color: rgba(255,255,255,0.5);
border-width: 1px;
border-radius: 5px;
border-color: #fff;
text-decoration: none;
color: #fff;
}
*/
.transparent-button
{
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  background: rgba(255,255,255,0.4);
  padding: 1.5em 3em 1.5em 3em;
  margin: 1.5em 0em 0em 0em;
  border-radius: 0.25em;
  cursor: pointer;
  border: 2px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.transparent-button:hover
{
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.5);
}

.img-circle {
-webkit-border-radius: 500px;
-moz-border-radius: 500px;
border-radius: 500px;
}

.fa{
  font-size: 50px;
}
      
.social-icon {
  font-size: 50px;
  text-decoration: none;
  margin: 0.1em;
  opacity: 0.9;
  color: #fff;
}
.social-icon:hover {
  opacity: 1;
  color: #fff;
  font-size: 50px;
}

.big-mail {
  text-align: center;
  font-size: 150px;
}


footer {
min-height: 140px;
background: #fff;
color: #000;
}
footer p {
padding: 45px 0 45px 0;
margin: 0;
}
footer nav {
padding: 35px 0 35px 0;
margin: 0;
}
footer div {
padding: 10px 0 35px 0;
margin: 0;
}
footer .social-icon {
  margin: 0 0.1em 0 0.1em;
  opacity: 1;
  color: #5E6B75;
  font-size: 50px;
}
footer .social-icon:hover {
  opacity: 0.7;
  color: #5E6B75;
  font-size: 50px;
}
footer img {
  margin-top: 40px;
  height: 50px;
  opacity: 1;
}
footer img:hover{
  opacity: 0.7;
}

header a {
  text-decoration: none;
}

.justify-text p {
  text-align:justify;
  text-justify:inter-word;
}
.justify-text {
  text-align:justify;
  text-justify:inter-word;
}

/*
#topbar {
padding: 20px;
min-height: 40px;
position: fixed;
top: 0;
left: 0;
right: 0;
background: rgba(0,0,0,0.6);
z-index: 100;
-webkit-transform: scale3d(1, 1, 1);
}
#topbar a{
  color: #fff;
  padding: 20px;
  text-decoration: none;
}
#topbar a:hover{
  background: rgba(255,255,255,0.3);
  color: #fff;
  padding: 20px;
  text-decoration: none;
}
#topbar img{
  height: 20px;
}*/

.team img {
  text-align:center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
.team div {
  text-align:center;
}
.team h4,h5,h6 {
  text-align:center;
  margin-bottom: 10px;
}
.team h6 {
font-size: 0.8em;
}
.team a {
  text-decoration: none;
  opacity: 0.8;
  color: #555;
}
.team a:hover {
  opacity: 1;
}
.team i {
  margin: 2px;
  font-size: 120%;
}

@media (max-width: 320px) {
    .team h6 { font-size: 50%; }
    .team img { width: 80%; height: 80%;}
}

@media (min-width: 320px ) and (max-width: 500px ) {
    .team h6 { font-size: 80%; }
}


@media (min-width: 960px ) and (max-width: 1180px ) {
    .team h6 { font-size: 70%; }
    .team img { width: 90%; height: 90%;}
}


@media (max-width: 650px) {
    .previous-speakers h6 { font-size: 150%; }
}

@media (min-width: 650px) {
    .previous-speakers h6 { font-size: 75%; }
}

@media (min-width: 800px) {
    .previous-speakers h6 { font-size: 100%; }
}

@media (min-width: 900px) {
    .previous-speakers h6 { font-size: 100%; }
}

@media (min-width: 1200px) {
    .previous-speakers h6 { font-size: 150%; }
}

.whois div {
  text-align:center;
}

#whoIsPhoto img {
  cursor: pointer;
}

.whois p {
  margin-top: 20px;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 100;
  -webkit-transform: scale3d(1, 1, 1);
}


@media print {
  #topbar {
    position: static;
  }
}

#topbar img{
  max-height: 40px;
}
#topbar .ink-navigation ul li {
  font-size: 14px;
}
#topbar .ink-navigation ul li a {
  *height: auto;
  color: #fff;
}
#topbar .ink-navigation ul li a:hover {
  background: rgba(255,255,255,0.3);
  color: #ffffff;
}
#topbar .ink-navigation ul li a.logoPlaceholder {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
  padding: 0;
  margin-right: .5em;
}
#topbar .ink-navigation ul li a.logoPlaceholder img {
  margin-top: 4px;
  height: 24px;
}

#topbar .ink-navigation ul li a.logoPlaceholder:hover {
  background: none;
}
#topbar .ink-navigation ul.vertical li a {
  border-bottom: 1px solid #262626;
}
#topbar .ink-navigation ul.vertical li a.logoPlaceholder {
  margin-right: 0;
}
#topbar .ink-navigation ul.vertical li button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: .6em;
  right: 0;
  padding: 0;
  color: #fff;
}
#topbar .ink-navigation ul.vertical li button:hover,
#topbar .ink-navigation ul.vertical li button:focus {
  color: #ffffff;
}
#topbar .ink-navigation ul.vertical li button span {
  font-size: 1.5em;
}
#topbar .ink-navigation ul.vertical li.title {
  border-bottom: 1px solid #262626;
}
#topbar .ink-navigation ul.vertical li.title a {
  border-bottom: none;
}
#topbar .ink-navigation ul.vertical li.active a {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#topbar .ink-navigation ul.vertical li:first-child:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
#topbar .ink-navigation ul.black.flat {
  background: none;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}