/* HEADER */
.sponsor-header {overflow:hidden; background: url('../../img/sinfocheio.jpg') center no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 150%;background-repeat: no-repeat;}
.sponsor-header h1 { text-align: center; margin:0.5em 0 0 0; padding:0; font-size: 4em;}
.sponsor-header h1 a, .sponsor-header h1 a:link, .sponsor-header h1 a:visited { color:#FFFFFF; text-decoration:none;}
.sponsor-header h1 a:hover {text-decoration:none;}
.sponsor-header .description { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.sponsor-header .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 200px;}

body {
  margin: 20px auto;
  font: 12px Verdana,Arial, Helvetica, sans-serif;
}

.content {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.impar {
	background-color: #f2f2f2;
}

table {
	margin-bottom: 0px;
	background-color: white;
}

th {
	padding: 5px 5px 5px 5px;
	background-color: #808080;
	color: white;
}

td {
	padding: 5px 5px 5px 5px;
}

li {
	list-style-type: none; 
}

.selected {
	background: white;
	color: gray;
}

.pale-gray {
	background: #999 !important;
	color: white;
}

.pale-gray * {
	color: white;
}

.pale-gray a {
	color: blue;
}

.pale-gray h3 {
	margin-top: 5px;
}

.gold {
	background: #FFD700 !important;
	color: #555555;
}

.silver {
	background: #CCC !important;
	color: #555555;
}

.bronze {
	background: #CD7F32 !important;
	color: #555555;
}

.selected .gold {
	background: #FFB600 !important;
	color: #555555;
}

.selected .silver {
	background: #999999 !important;
	color: #555555;
}

.selected .bronze {
	background: #A8672A !important;
	color: #555555;
}

.layer1 {
margin: 0;
padding: 0;
width: 700px;
}
 
.heading {
margin-bottom: 1px;
color: #fff;
padding: 7px 10px;
cursor: pointer;
position: relative;
background-color:#c30;
}
.content {
padding: 5px 10px;
background-color:#fafafa;
}
p { padding: 5px 0; }

.linha:hover {
  cursor: pointer;
  background-color: #c0c0c0;
  color: white;
}

.descricao:hover{
	margin: 0 0;
	padding: 0 0;
	background-color: white;
	text-decoration: none;
};