/* HEADER */
.sponsor-header {overflow:hidden; background: url('../../img/sinfocheio.jpg') center no-repeat;;  background-color: transparent; background-size: cover;
background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-attachment: fixed;background-position: center center;background-position-x: 50%;background-position-y: 150%;background-repeat: no-repeat;}
.sponsor-header h1 { text-align: center; margin:0.5em 0 0 0; padding:0; font-size: 4em;}
.sponsor-header h1 a, .sponsor-header h1 a:link, .sponsor-header h1 a:visited { color:#FFFFFF; text-decoration:none;}
.sponsor-header h1 a:hover {text-decoration:none;}
.sponsor-header .description2 { margin:1em auto; width:60%; padding:10px 0 10px 0; color: #FFFFFF; text-align: center;}
.sponsor-header .opacidade {background: url(http://sapoblogs.do.sapo.pt/temp/classico_opacidade.png) repeat; padding:1em 0; height: 200px;}

h3 {
	padding-top: 10px;
}

table {
	margin-bottom: 0px;
	font-size: 12px;
	border-width: 0px;
}

td{
	padding: 5px 5px 5px 5px;
}

th {
	padding: 5px 5px 5px 5px;
	color: white;
	background-color: #808080;
}

tbody {
	text-align: center;
}

/*.container {
	margin-right: auto;
	margin-left: auto;
}*/
.price {
	color: white;
	background-color: #00b300;
	border-top-style: solid;
	border-top-width: 1px;
}

.alterprice {
	color: white;
	background-color: #c0c0c0;
}

.perks {
	font-size: 12px;
	border-top-style: solid;
	border-top-width: 1px;
}

tbody tr:not(.price):not(.alterprice):not(.description):not(.perks):not(.perksDescription):hover {
	cursor: pointer;
	background-color: #c0c0c0;
	color: white;
}

.heading {
	margin-top: 1px;
	padding: 7px 10px;
	color: #fff;
	background-color: #c30;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}

.noPadding {
	padding: 0px 0px 0px 0px !important; 
	margin:0;
}

.description {
	display: none;
}

.shadow {
	-webkit-box-shadow: inset 0px 15px 5px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 0px 15px 5px -10px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 0px 15px 5px -10px rgba(0, 0, 0, 0.2);
}

.alternate {
	background-color: #f2f2f2;
}

.toggle {
	float: left;
}

.toggleHead {
	float: left;
}

.PackageContent {
	text-align:	center;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

.indPack {
	border-top-style: solid;
	border-top-width: 1px;
	font-weight: bold;
}

.indPackDescription {
	font-size: 12px;
}

.submit {
	margin: auto auto;
}

.email-err, .company-err {
	font-size: 12px;
	color: red;
}

.email-valid, .company-valid {
	font-size: 12px;
	color: green;
}

.valid {
	border: 1px solid green;
}